<!DOCTYPE html>
<html>
<head>
    <title>Ocelot Run Report</title>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/footable.standalone.min.css">
    <link rel="stylesheet" href="assets/css/grids-responsive-min.css">
    <link rel="stylesheet" href="assets/css/pure-min.css">
    <link rel="stylesheet" href="assets/css/report.css">
    <script src="assets/js/jquery-1.12.3.min.js"></script>
    <script src="assets/js/footable.min.js"></script>
    <link rel="stylesheet"
          href="assets/css/chartist.min.css">
    <script src="assets/js/chartist.min.js"></script>
    <script src="assets/js/chartist-plugin-axistitle.min.js"></script>
</head>
<body>
<h1>Ocelot calculation run report</h1>
<ul>
    <li>Calculation id: {{ uuid }}</li>
    <li>Number of input datasets: {{ counts.0.1 }}</li>
    <li>Total time: {{ elapsed }} seconds</li>
</ul>
<h1>Timing chart</h1>
<div id="timingChart"></div>
<h1>Dataset count chart</h1>
<div id="countChart"></div>
<h1>Transform functions</h1>
{% for func in functions %}
<h2 id="{{ func.id }}">{{ func.name}}</h2>
<ul>
    <li>Total time: {{ func.time|int }} seconds</li>
    <li>Number of datasets after application: {{ func.count }}</li>
</ul>
<h3>Description</h3>
<p>{{ func.description }}</p>
{% if func.table %}
<h3>{{ func.table.title }}</h3>
<table class="table" data-paging="true" data-filtering="true" data-sorting="true">
    <thead>
        <tr>
            {% for col in func.table.columns %}
            <th data-breakpoints="xs">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in func.tabledata %}
        <tr>
            {% for elem in row %}<td>{{ elem }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endfor %}

<script type="text/javascript">
jQuery(function($){
    $('.table').footable();
});

new Chartist.Line('#timingChart', {
  labels: {{ time_labels }},
  series: [
    {{ time_data}}
  ]
}, {
  low: 0,
  showArea: true,
  lineSmooth: Chartist.Interpolation.none(),
  plugins: [
    Chartist.plugins.ctAxisTitle({
      axisY: {
        axisTitle: 'Time (seconds)',
        axisClass: 'ct-axis-title',
        offset: {
          x: 0,
          y: 0
        },
        textAnchor: 'middle'
      },
      axisX: {
        axisTitle: 'Transform functions',
        axisClass: 'ct-axis-title',
        offset: {
          x: 0,
          y: 0
        },
        textAnchor: 'middle',
      }
    })
  ]
});

new Chartist.Line('#countChart', {
  labels: {{ count_labels }},
  series: [
    {{ count_data}}
  ]
}, {
  low: 0,
  showArea: true,
  lineSmooth: Chartist.Interpolation.none(),
  plugins: [
    Chartist.plugins.ctAxisTitle({
      axisY: {
        axisTitle: 'Number of datasets',
        axisClass: 'ct-axis-title',
        offset: {
          x: 0,
          y: 0
        },
        textAnchor: 'middle'
      },
      axisX: {
        axisTitle: 'Transform functions',
        axisClass: 'ct-axis-title',
        offset: {
          x: 0,
          y: 0
        },
        textAnchor: 'middle',
      }
    })
  ]
});
</script>
</body>
</html>
