<!DOCTYPE html>
<html>
<head>
    <title>Ocelot Run Report</title>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/footable.standalone.min.css">
    <link rel="stylesheet" href="assets/css/grids-responsive-min.css">
    <link rel="stylesheet" href="assets/css/pure-min.css">
    <link rel="stylesheet" href="assets/css/report.css">
    <script src="assets/js/jquery-1.12.3.min.js"></script>
    <script src="assets/js/footable.min.js"></script>
    <script src="assets/js/Chart.js"></script>
</head>
<body>
<p>{{ foo }}</p>
</body>
</html>
